<a href="https://colab.research.google.com/github/Jorge2018/prediccion_ventas/blob/main/Script_proyectoDOS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [125]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
import seaborn as sns 
from sklearn.metrics import accuracy_score,recall_score,roc_auc_score,f1_score

df = pd.read_csv('https://raw.githubusercontent.com/Jorge2018/RepositorioArchivos/main/england-premier-league-players-2018-to-2019-stats.csv')
df.head()

,full_name,age,birthday,birthday_GMT,league,season,position,Current Club,minutes_played_overall,minutes_played_home,...,conceded_per_90_overall,min_per_conceded_overall,min_per_match,min_per_card_overall,min_per_assist_overall,cards_per_90_overall,rank_in_league_top_attackers,rank_in_league_top_midfielders,rank_in_league_top_defenders,rank_in_club_top_scorer
0,Aaron Cresswell,32,629683200,1989/12/15,Premier League,2018/2019,Defender,West Ham United,1589,888,...,1.25,72,79,1589,1589,0.06,290,191,80,20
1,Aaron Lennon,34,545529600,1987/04/16,Premier League,2018/2019,Midfielder,Burnley,1217,487,...,1.48,61,76,1217,1217,0.07,196,187,-1,10
2,Aaron Mooy,31,653356800,1990/09/15,Premier League,2018/2019,Midfielder,Huddersfield Town,2327,1190,...,1.78,51,80,582,2327,0.15,144,233,-1,3
3,Aaron Ramsey,31,662169600,1990/12/26,Premier League,2018/2019,Midfielder,Arsenal,1327,689,...,0.81,111,47,0,221,0.00,69,8,-1,5
4,Aaron Rowe,21,968284800,2000/09/07,Premier League,2018/2019,Forward,Huddersfield Town,69,14,...,1.30,69,35,0,0,0.00,-1,-1,-1,31

# Primera Opcion
**fuente de datos=https://footystats.org**

**Descripcion= estadisticas por jugador de la liga de futbol inglesa de 1a division**

**Objetivo= predecir cuantos partidos jugará en la proxima temporada (appearances_overall)**

**Problema del tipo regresion**

**Los retos a resolver son:normalizacion de caracteres "extraños" en los datos del tipo object, y la conversion a escalas de los datos del tipo number**

In [126]:
print('El total de filas/caracteristicas es:\n',df.shape)

El total de filas/caracteristicas es:
 (570, 47)

# Segunda Opcion
**fuente de datos=https://footystats.org**

**Descripcion= estadisticas de los partidos jugados de la liga de futbol inglesa de 1a division**

**Objetivo= predecir cuantos goles se marcaran por partido en la proxima temporada (total_goal_count)**

**Problema del tipo regresion**

**Los retos a resolver son:normalizacion de caracteres "extraños" en los datos del tipo object, y la conversion a escalas de los datos del tipo number**

In [127]:
df2 = pd.read_csv('https://raw.githubusercontent.com/Jorge2018/RepositorioArchivos/main/england-premier-league-matches-2018-to-2019-stats.csv')
df2.head()

,timestamp,date_GMT,status,attendance,home_team_name,away_team_name,referee,Game Week,Pre-Match PPG (Home),Pre-Match PPG (Away),...,odds_ft_home_team_win,odds_ft_draw,odds_ft_away_team_win,odds_ft_over15,odds_ft_over25,odds_ft_over35,odds_ft_over45,odds_btts_yes,odds_btts_no,stadium_name
0,1533927600,Aug 10 2018 - 7:00pm,complete,74439,Manchester United,Leicester City,Andre Marriner,1,0.0,0.0,...,1.37,4.98,9.81,1.33,2.00,3.60,7.50,2.05,1.69,Old Trafford (Manchester)
1,1533987000,Aug 11 2018 - 11:30am,complete,51749,Newcastle United,Tottenham Hotspur,Martin Atkinson,1,0.0,0.0,...,4.51,3.77,1.84,1.31,1.95,3.50,5.75,1.83,1.87,St. James' Park (Newcastle upon Tyne)
2,1533996000,Aug 11 2018 - 2:00pm,complete,10353,AFC Bournemouth,Cardiff City,Kevin Friend,1,0.0,0.0,...,2.03,3.51,3.96,1.31,1.95,3.45,6.70,1.83,1.83,Vitality Stadium (Bournemouth- Dorset)
3,1533996000,Aug 11 2018 - 2:00pm,complete,24821,Fulham,Crystal Palace,Mike Dean,1,0.0,0.0,...,2.31,3.44,3.26,1.28,1.87,3.20,7.00,1.71,2.00,Craven Cottage (London)
4,1533996000,Aug 11 2018 - 2:00pm,complete,24121,Huddersfield Town,Chelsea,Chris Kavanagh,1,0.0,0.0,...,7.47,4.27,1.51,1.29,1.91,3.30,6.95,2.00,1.71,John Smith's Stadium (Huddersfield- West Yorks...

In [124]:
print('El total de filas/caracteristicas es:\n',df2.shape)

El total de filas/caracteristicas es:
 (380, 64)